#!/bin/bash

backupPath="/var/streambackup"
timeoutTime={{ streambackup_timeout_time }}

while :
do
    timestamp=`date +%Y-%m-%d-%H%M%S`
    backupName="{{ channel_name }}-backup-$timestamp.flv"
    streamStatus=`curl -s -H "Streamdelay-API-Key:$(jq .apiKey {{ streamdelay_config_path }} | sed 's/"//g')" http://{{ streamdelay_hostname }}:{{ streamdelay_port }}/status | jq .state.stream`
    if [[ $streamStatus == "\"stopped\"" ]]; then
        sleep 0.5
    else
        timeout $timeoutTime gst-launch-1.0 -v -e \
            srtsrc uri={{ streambackup_srt_in_uri }} ! queue ! tsparse set-timestamps=true ! tsdemux name=demux \
            demux. ! queue max-size-time=0 max-size-buffers=0 ! h264parse ! mux. \
            demux. ! queue max-size-time=0 max-size-buffers=0 ! aacparse ! mux. \
            flvmux name=mux streamable=true ! queue ! filesink enable-last-sample=false location="$backupPath/$backupName"
    fi
done
exit 0
