server = "{{ anchorbot_server }}"
token = "{{ anchorbot_access_token }}"
userId = "{{ anchorbot_user_id }}"

[rooms]
anchor = "{{ anchorbot_anchor_room_id }}"
announcements = "{{ anchorbot_announcements_room_id }}"
curators = "{{ anchorbot_curators_room_id }}"

[alias.woke]
title = "woke.net"
kind = "hls"
url = "https://live.woke.net/playlist.m3u8"

[alias.woke-old]
title = "woke.net (old CDN)"
kind = "hls"
url = "https://a.woke.net/live/playlist.m3u8"

[alias.b]
title = "woke.net second stream"
kind = "hls"
url = "https://live2.woke.net/playlist.m3u8"

[alias.b-old]
title = "woke.net second stream (old CDN)"
kind = "hls"
url = "https://b.woke.net/live/playlist.m3u8"
