server = "{{ anchorbot_server }}"
token = "{{ anchorbot_access_token }}"
userId = "{{ anchorbot_user_id }}"
roomId = "{{ anchorbot_room_id }}"

[alias.woke]
title = "woke.net"
kind = "hls"
url = "https://a.woke.net/live/playlist.m3u8"

[alias.b]
title = "woke.net second stream"
kind = "hls"
url = "https://b.woke.net/live/playlist.m3u8"
