{{ inventory_hostname }}

reverse_proxy http://{{ streamwall_control_hostname }}:{{ streamwall_control_port }}

route /content/* {
  uri strip_prefix content
  root * /home/streamwall/stream-content/dist
  file_server
  header Cache-Control no-cache
}

log {
  output file /var/log/caddy/streamwall.log
}
