{{ inventory_hostname }} {
  reverse_proxy http://{{ streamwall_control_hostname }}:{{ streamwall_control_port }}

  route /content/* {
    uri strip_prefix content
    header Cache-Control no-cache
    root * /home/streamwall/stream-content/dist
    file_server
  }

  route /live/* {
    uri strip_prefix live
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Headers "Range"
    header Access-Control-Expose-Headers "Date"

    header Cache-Control max-age=360
    @manifest path /dash.mpd /hls.m3u8
    header @manifest Cache-Control max-age={{ stream_segment_duration }}

    root * /home/streamwall/live
    file_server
  }

  basicauth /live/* {
    cdn {{ hashed_cdn_origin_password }}
  }

  log {
    output file /var/log/caddy/streamwall.log
  }

  import *.caddy
}

import ./site/*.caddy
