#!/bin/bash

gst-launch-1.0 \
  ximagesrc show-pointer=false xname="Streamwall" use-damage=false ! queue ! video/x-raw,framerate=30/1 ! queue ! videoconvert ! enc. \
  {% if streamcapture_encoder == 'nvenc' %}
    nvh264enc name=enc bitrate={{ streamcapture_bitrate }} preset={{ streamcapture_nvenc_preset }} gop-size=60 ! queue ! h264parse config-interval=2 ! mux. \
  {% else %}
    x264enc name=enc bitrate={{ streamcapture_bitrate }} tune=zerolatency speed-preset={{ streamcapture_x264_preset }} byte-stream=true threads={{ streamcapture_x264_threads }} psy-tune={{ stream_x264_psy_tune }} key-int-max=60 ! queue ! mux. \
  {% endif %}
  pulsesrc ! audioconvert ! ladspa-sc4-1882-so-sc4 threshold-level=-5 ratio=4 makeup-gain=10 ! ladspa-fast-lookahead-limiter-1913-so-fastlookaheadlimiter limit=-3 ! queue ! audioconvert ! voaacenc bitrate=96000 ! queue ! mux. \
  mpegtsmux name=mux ! queue ! srtsink name=sink uri="{{ streamcapture_out_uri }}"
