{
  "apiHostname": "{{ streamdelay_hostname }}",
  "apiPort": {{ streamdelay_port }},
  "apiKey": "{{ streamdelay_api_key }}",
  "srtInUri": "{{ streamdelay_in_uri }}",
  "outUri": "{{ stream_ingest_url }}",
  "delaySeconds": {{ stream_delay }},
  "width": {{ stream_width }},
  "height": {{ stream_height }},
  "encoder": "{{ streamdelay_encoder }}",
  "bitrate": {{ stream_bitrate }},
  "x264Preset": "{{ stream_x264_preset }}",
  "x264PsyTune": "{{ stream_x264_psy_tune }}",
  "x264Threads": "{{ streamdelay_x264_threads }}",
  "nvencPreset": "{{ stream_nvenc_preset }}",
  "pixelizeScale": 20,
  "overlayImg": "{{ streamdelay_overlay_image_path }}"
}
