[Unit]
Description=RTMP output to %i
PartOf=stream.target

[Service]
Restart=always
RestartSec=1s
ExecStart=/home/streamwall/rtmpoutput.sh %i
Environment=GST_PLUGIN_PATH=/usr/local/lib/gstreamer-1.0/

[Install]
WantedBy=stream.target
